 /*Margin Deletion*/
*{
    margin: 0%;
    padding: auto;
}

 /* Background */
.bg{
    background-image: url("RazdByBearz_black_and_white_illustration_three_warriors_hunting_7b21dc7b-e977-4677-9859-8bde496a181a.png"); 
    background-size:contain;
    background-repeat: no-repeat;
    position: static;
    width: 1510px;
    height: 1280px;
    left: 0px;
    
}

 /* Home Section */
.nav{
    position: fixed;
width: 160px;
height: 27px;
left: 37px;
top: 18px;

font-family: 'Raleway';
font-style: normal;
font-weight: 200;
font-size: 28px;
line-height: 35px;

color: #ffffff;
}

 /* Post Hovering */
.nav:hover{
    color: #aeff00;
    width: 159px;
    height: 26px;
    
    font-weight: 1000;
    font-size: 29px;
    line-height: 35px;
    left: 36px;
    top: 18px;
    transition: 0.3s;
    text-shadow: 0px 0px 20px #aeff00;
}

 /* Resume Section */
.nav2{
    position: fixed;
width: 187px;
height: 40px;
left: 176px;
top: 18px;

font-family: 'Raleway';
font-style: normal;
font-weight: 200;
font-size: 28px;
line-height: 35px;

color: #ffffff;
}

 /* Post Hovering */
.nav2:hover{
    color: #00ffc3;
    width: 187px;
    height: 40px;
    left: 175px;
    top: 18px;
font-weight: 1000;
font-size: 29px;
transition: 0.3s;
text-shadow: 0px 0px 20px #00ffc3;
}

/* Projects Section */
.nav3{
    position: fixed;
width: 164px;
height: 43px;
left: 350px;
top: 18px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 35px;

color: #ffffff;
}

 /* Post Hovering */
.nav3:hover{
        color: #00ccff;
        width: 164px;
height: 43px;
left: 349px;
    top: 18px;
    font-weight: 1000;
font-size: 29px;
transition: 0.3s;
text-shadow: 0px 0px 20px #00ccff;
}

/* Connect Section */
.nav4{
    position: fixed;
width: 150px;
height: 45px;
left: 1346px;
top: 12px;
background: transparent ;
border-radius: 5px;
border:rgba(0, 0, 0, 0.405);
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 0px;
color: #A8EB12;
}

.nav4:hover{
    width: 155px;
height: 50px;
left: 1345px;
top: 11px;
background-image: linear-gradient(to left top, #00ff62, #aeff00); ;
border-radius: 48px;
border:rgba(0, 0, 0, 0.405);
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 0px;
color: #0a0b05;
stroke: 20px ;
border: 3px solid rgb(0, 0, 0);

transition: 0.3s;
box-shadow: 0px 0px 18px #00ff62b2;
}

.navbar{
background-color: #000000;

position:fixed;
width: 1519px;
height: 70px;
left: 0px;
top: 0px;
}

.navbar:hover{
    background-color: #a6eb1200;
    filter: blur(10px);
    backdrop-filter: blur(30px) saturate(150%) contrast(90%) brightness(80%);    
    transition: 0.1ms
}

.ex2{
position: absolute;
width: 100px;
height: 100px;
left: 1179px;
top: 400px;

background-image: linear-gradient(to left top, #00ff62, #aeff00);
border-radius: 100px;
border:rgba(253, 148, 148, 0.405);
font-family: 'Raleway';
font-style: normal;
font-weight: 1000;
font-size: 40px;
line-height: 0px;
box-shadow: 0px 0px 10px #00ff625d;
}

.ex2:hover{
    background-image: linear-gradient(to left top, #032610, #182202);
    border: 5px solid #A8EB12;
    color: #A8EB12;
    font-size: 42px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px #aeff00;

    width: 120px;
height: 120px;
left: 1174px;
top: 390px;
border-radius: 100%;
}

.s1{
    position: absolute;
    width: 10px;
    height: 845px;
    left: 0px;
    top: 0px;
    
    background-image: linear-gradient(to left top, #00ff62, #aeff00);
    border:rgba(253, 148, 148, 0);
    }
    
    .s1:hover{
        background-image: linear-gradient(to left top, #008F92, #2CD261);
        color: #A8EB12;
        transition: 0.3s;
        box-shadow: 0px 0px 10px #aeff002f;
        
    }

    .s2{
        position: absolute;
        width: 10px;
        height: 845px;
        left: 1507px;
        top: 0px;
        
        background-image: linear-gradient(to left top, #00ff62, #aeff00);
        border-radius: 0px;
        border:rgba(253, 148, 148, 0.405);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 1000;
        font-size: 44px;
        line-height: 0px;
        }

    .s2:hover{
        background-image: linear-gradient(to left top, #008F92, #2CD261);
        color: #A8EB12;
        transition: 0.3s;
        box-shadow: 0px 0px 10px #aeff002f;
    }

.line{
        position: fixed;
    width: 1519px;
    height: 10px;
    left: 0px;
    top: 70px;
    
    background-image: linear-gradient(to right top, #2CD261, #00B287);
    border:rgba(253, 148, 148, 0.405);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 1000;
    font-size: 44px;
    line-height: 0px;
    }


.skills{
    position:absolute;
    width: 1519px;
    height: 150px;
    left: 0px;
    top: 845px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 1000;
    font-size: 35px;
    line-height: 0px;
    color: #A8EB12;
    text-shadow: 3px 3px 6px #aeff002b;

    letter-spacing: 8px;
    background-image: linear-gradient(to left top, #080c00, #001813);
    box-shadow: 0px 0px 8px #00ff6234;
    border: 3px solid #A8EB12;
    
}

.skills:hover{
    background-image: linear-gradient(to left top, #00ff62, #aeff00);
    backdrop-filter: blur(30px) saturate(150%) contrast(90%) brightness(80%);    
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    transition-timing-function: linear;

    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 3px 3px 6px #aeff00;
    height: 145px;
    color: #000000;
    border: 4px solid #000000;
}

.body2{
    position: absolute;
    width: 1518px;
    height: 1280px;
    left:0px;
    top: 990px;

    background-image: linear-gradient(to left top, #001806, #00281f);
}

.shadow{
    position: absolute;
    width: 1510px;
    height: 1280px;
left: 0px;
top: 0px;

background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.338542) 59.81%, rgba(0, 0, 0, 0) 89.31%);
opacity: 0.7;
}

.shadow2{
    position: absolute;
    width: 1510px;
    height: 1280px;
left: 0px;
top: 0px;

opacity: 0.7;
background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.338542) 59.81%, rgba(0, 0, 0, 0) 89.31%);
}

.hi{
    font-family: 'Bebas Neue', cursive;
    position: absolute;
width: 200px;
height: 200px;
left: 160px;
top: 185px;

background-image: linear-gradient(to left top, #00ff62, #aeff00);
-webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

border-radius: 100px;
border:rgba(253, 148, 148, 0);
font-style: normal;
font-weight: 1000;
font-size: 130px;
line-height: 0px;
}

.hi:hover{
    font-size: 124px;
    left: 161px;
    top: 186px;

    background-image: linear-gradient(to right, #00ff62, #aeff00);
-webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

    transition: ease-in-out 0.4s;
    font-size: 134px;
    text-shadow:0px 0px 8px #aeff004b;
}

.box {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 155px;
    top: 345px;
    background-image: linear-gradient(to left top, #a0ffc3, #e1fda4);
-webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    -webkit-text-stroke: transparent;

            font-family: 'Bebas Neue', cursive;
    font-size: 185px;
    font-weight: 1000px;
    font-style: normal;
    border:rgba(253, 148, 148, 0);
    animation: mymove 20s infinite;
    }

.box:hover{
    
    border-radius: 0px;
    border:rgba(253, 148, 148, 0);

    background-color: #a6eb1200;
    box-shadow: 0px 0px 10px #aeff0000; 
      
    background-image: linear-gradient(to left top, #00B287, #aeff00);
-webkit-text-fill-color: transparent;
    
text-shadow:0px 0px 10px #ffffff5d;
    transition: 0.6s ease-in-out ;
    filter:contrast(1);
    left: 157px;
}

@keyframes mymove {
    0%{
        transform: translate(0,0);
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    20%{
        transform: translate(-10px, 0px);
        background-image: linear-gradient(to left top, #a4ffea, #cdff62);
        -webkit-text-fill-color: transparent;
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    40%{
        transform: translate(5px, 0px);
        background-image: linear-gradient(to left top, #aad0fb, #997efe);
        -webkit-text-fill-color: transparent;
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    60%{
        transform: translate(-15px, 0px);
        background-image: linear-gradient(to left top, #7dfec8, #8bffbb);
        -webkit-text-fill-color: transparent;
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    80%{
        transform: translate(5px, 0px);
        background-image: linear-gradient(to left top, #94c6fe, #8bffbb);
        -webkit-text-fill-color: transparent;
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    100%{
        transform: translate(0, 0);
        background-image: linear-gradient(to left top, #b996ff, #80fdb4);
        -webkit-text-fill-color: transparent;
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }

}

/* === removing default button style ===*/
.button {
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {

    left: 435px;
    top: 350px;
    --border-right: 8px;
    --text-stroke-color: rgb(255, 255, 255);
    
    --animation-color: #aeff00;
    --fs-size: 11em;
    letter-spacing: 9px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 4px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 2px #aeff00;
    animation: move 20s infinite;
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px #aeff00cb)
  }

  .Circle{
    position:absolute;
    width: 660px;
    height: 660px;
    left: 10px;
    top: 1080px;
    animation: cir 20s infinite ;
  }

  .Circle:hover{
    width: 665px;
    height: 665px;
    top: 1085px;
    left: 9px;
    transition-duration: .8s;
    -webkit-filter: drop-shadow(0px 0px 5px #aeff0096);
        filter: drop-shadow(0px 0px 5px #aeff0092);
        -webkit-animation-duration: .8s ease-in-out;
  }

  @keyframes cir {
    0%{
        transform: translate(0,0);
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    20%{
        transform: translate(-10px, 17px);
        -webkit-filter: drop-shadow(0px 0px 5px #aeff00);
        filter: drop-shadow(0px 0px 5px #00ffc361);
        
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    40%{
        transform: translate(5px, -9px);
        -webkit-filter: drop-shadow(0px 0px 5px #aeff00);
        filter: drop-shadow(0px 0px 5px #3700ff7c);
        
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; 
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    60%{
        transform: translate(-15px, -10px);
        -webkit-filter: drop-shadow(0px 0px 5px #aeff00);
        filter: drop-shadow(0px 0px 5px #00ff6ab2);

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    80%{
        transform: translate(5px, 9px);
        -webkit-filter: drop-shadow(0px 0px 5px #aeff00);
        filter: drop-shadow(0px 0px 5px #0077ff8a);

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    100%{
        transform: translate(0, 0);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }

  }

  .des{
    position: absolute;
    width: 287px;
    height: 400px;
    left: 606px;
    top: 580px;

    font-family: 'Raleway';
font-style: normal;
font-weight:bolder;
font-size: 30px;
line-height: 35px;

background-image: linear-gradient(to Right top, #7dfec8, #aeff00);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        text-align: right;
  }

.about{
    position: absolute;
    width: 587px;
    height: 100px;
    left: 636px;
    top: 1140px;

    font-family: 'Raleway';
    font-weight: bolder;

    font-size: 90px;
    background-image: linear-gradient(to right, #00ff62, #aeff00);
-webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            border-radius: 0px;
            border:rgba(253, 148, 148, 0); 
}

.aboutunderline{
    position: absolute;
    width: 60px;
    height: 8px;
    left: 725px;
    top: 1255px;

    background-image: linear-gradient(to right, #00ff62, #aeff00);
    animation: mo 20s infinite;
}

@keyframes mo {
    0%{
        transform: translate(0,0);
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
        width: 60px;
    }
    
    10%{
        transform: translate(195px, 0px);
        background-image: linear-gradient(to left top, #00ffc3, #aeff00);
         
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
        width: 40px;
    }
    
    20%{
        transform: translate(155px, 0px);
        background-image: linear-gradient(to right top, #00c8ff, #cdff62);
        
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
        width: 80px;
    }

    30%{
        transform: translate(110px, 0px);
        background-image: linear-gradient(to left top, #00ffc3, #ddff00);
        width: 50px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    40%{
        transform: translate(150px, 0px);
        background-image: linear-gradient(to left top, #008cff, #cdff62);
        width: 70px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    
    50%{
        transform: translate(225px, 0px);
        background-image: linear-gradient(to left top, #00ffc3, #aeff00);
        width: 30px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    60%{
        transform: translate(305px, 0px);
        background-image: linear-gradient(to left top, #00ff8c, #95ff00);
        width: 80px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    70%{
        transform: translate(200px, 0px);
        background-image: linear-gradient(to right top, #0033ff, #aeff00);
        width: 60px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    80%{
        transform: translate(175px, 0px);
        background-image: linear-gradient(to right top, #00ffc3, #00ff6e);
        width: 40px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }
    90%{
        transform: translate(175px, 0px);
        background-image: linear-gradient(to left top, #0095ff, #aeff00);
        width: 20px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }

    100%{
        transform: translate(0, 0);
        width: 60px;
        transition-timing-function: cubic-bezier(0.16, 0.71, 0.9,.66);
    }    
}

.me{
    position: absolute;
    width: 600px;
    height: 500px;
    left: 725px;
    top: 1280px;
    font-family: 'Raleway' ;
        font-size: 20px;
    background-image: linear-gradient(to right, #aeffcd, #eaffbc);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            
    animation: me 20s infinite;
}

.grad{
    position: absolute;
    width: 1550px;
    height: 1175px;
    left: 0px;
    top: 990px;

    opacity: 0.03;
}